<div class="container" style="position: relative; 
                                display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    flex-direction: column;
                                    padding: 24px;">

    <h2>NFC Tool _ ver 2.0</h2>
    <div style="display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;"> 
        <button color="secondary" (click)="start()" style="font-size: 16px;
        padding: 10px 20px;
        text-align: center;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 24px;
        width: 150px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;"> SCAN </button>
        <button color="secondary" style="font-size: 16px;
        padding: 10px 20px;
        text-align: center;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 24px;
        width: 150px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;"> WRITE </button>
    </div>  
</div>

Text Area for User Input
<textarea id="qr-scanner-input" rows="4" wrap="soft" style="resize: none; width: 100%; background-color: violet"> asdf
</textarea>